    - name: disable the mysql
      ansible.builtin.shell: dnf module disable mysql -y
    - name: copy mysql.repo file
      ansible.builtin.copy:
         src: mysql.repo
         dest: /etc/yum.repos.d/mysql.repo 
    - name: install mysql 
      ansible.builtin.dnf:
        name: mysql
        state: present
    - name: myqld services
      ansible.builtin.systemd:
        name: mysqld
        state: restarted
        enabled: yes
    - name: load the schema
      ansible.builtin.shell: mysql_secure_installation --set-root-pass '{{MYSQL_ROOT_PASSWORD}}'
      